<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link rel="stylesheet" type="text/css" href="style\style.css">
</head>
<body>
<header>
    <nav id="nav">
        <ul class="menu1">
            <li class="item"><a href="#">Posts</a></li>
            <li class="item"><a href="#">Contact</a></li>
            <li class="item"><a href="#">About</a></li>
        </ul>
    </nav>
</header>
<aside>
    <nav>
        <ul class="aside">
            <li class="menu"><a href="#">Posts</a></li>
            <li class="menu"><a href="#">Contact</a></li>
            <li class="menu"><a href="#">About</a></li>
        </ul>
    </nav>
</aside>
<div class="container">

    <div class="posts" id="post1">
        <p>
            Виявляється, вислів: "Мужик сказав — мужик зробив" правильно звучить так:
            "Мужик сказав. Жінка нагадала. Жінка нагадала. Жінка нагадала. Жінка нагадала.
            Жінка задовбала. Мужик зробив".
        </p>
    </div>
    <div class="posts" id="post2">
        <p>
            Тепер нам не страшний кінець світу! Ми боїмося кінця Інтернету
        </p>
    </div>
    <div class="posts" id="post3">
        <p>
            Туристів п'янили не так походи, скільки перевали.
        </p>
    </div>
</div>
</body>
</html>